@font-face {
  font-family: 'roboto-regular';
  src: url('../src/assets/fonts/roboto-regular.woff2') format('woff2');
}

body {
  background-color: azure;
  font-family: roboto-regular;
}

.money::after {
  content: '€';
}

.board {
  display: flex;
  flex-direction: column;
}
