.kanban {
  display: flex;
}

.kanbanColumn {
  width: 25%;
  overflow: hidden;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  min-height: 180px;
}

.weather img {
  width: 50px;
}
