.project {
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition-duration: 0.05s;
  text-decoration: none;
  color: #000;
  user-select: none;
}

.project:hover {
  box-shadow: inset rgba(0, 0, 0, 0.24) 0px 0px 2px 0.1px;
  transform: translate(-1px, 1px);
}

h3 {
  margin: 2px;
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
}

.logoDiv {
  padding-left: 10px;
  margin: auto;
}

.logoDiv img {
  width: 80px;
}

p {
  margin: 2px;
}

.updated {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.7rem;
  font-weight: bold;
}

.comment {
  font-style: italic;
}
